.relatorio-de-vendas {
  padding: 10px;
  background-color: rgb(206, 207, 255);
  width: 100%;

  tr.setor {
    background-color: #ede7f6;
  }

  tr.produto {
    background-color: #d1c4e9;
  }

  tr.marca {
    background-color: #b39ddb;
  }

}
