.relatorio-de-vendas {
  padding: 10px;
  background-color: #ede7f6;
  width: 100%;

  tr.setor {
    background-color: #ede7f6;
  }

  tr.produto {
    background-color: #d1c4e9;
  }

  tr.marca {
    background-color: #b39ddb;
  }

  td.coluna-nome {
    font-style: italic;
  }

  td.coluna-valor {
    text-align: right;
  }

}
